deploy/n8n/example-workflow-nenovaweb.json
{
  "name": "[예시] 네노바웹 매출요약 가져오기",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://nenovaweb.com/api/automation/sales-revenue-summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "channel", "value": "양재동" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "네노바웹 매출요약 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_WITH_YOUR_CREDENTIAL", "name": "nenovaweb-token" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "지점", "value": "={{ $json.channel }}", "type": "string" },
            { "id": "a2", "name": "업체수", "value": "={{ $json.customerCount }}", "type": "number" },
            { "id": "a3", "name": "원본합계", "value": "={{ $json.totals.rawTotal }}", "type": "number" },
            { "id": "a4", "name": "미매칭금액", "value": "={{ $json.totals.unmatchedAmount }}", "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "요약 정리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 300]
    }
  ],
  "connections": {
    "수동 실행": {
      "main": [ [ { "node": "네노바웹 매출요약 조회", "type": "main", "index": 0 } ] ]
    },
    "네노바웹 매출요약 조회": {
      "main": [ [ { "node": "요약 정리", "type": "main", "index": 0 } ] ]
    }
  },
  "settings": {},
  "active": false
}
